version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: social_media_db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_media_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
